*{
    box-sizing: border-box;
}

body{
    background-color: var(--gray-3);
    font-family: var(--font-mono);
    font-size: var(--font-size-2);
    line-height: 1.6;
}

input{
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}

.tab{
    padding-left: 2.5em;
}

.error {
    color: var(--red-9);
}