*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
	--ccp-maroon-1: #720000;
	--ccp-maroon-2: #B20101;
}

body{
    background-color: var(--gray-3);
    font-family: var(--font-mono);
    font-size: var(--font-size-2);
    line-height: 1.6;
}

.create {
	background-color: var(--green-9);
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

.create:hover {
    background-color: white;
    color: var(--green-9);
    border: 2px solid var(--green-9);
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal-contents {
	width: 80%;
	background-color: white;
	text-align: left;
	padding: 20px;
	position: relative;
	border-radius: 8px;
    max-height: 90%;
    overflow-y: auto;
	z-index: 11;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	/* transform: rotate(45deg); */
	cursor: pointer;
}

.close:hover{
    color: #666;
}

input{
	/* outline: none;
	border: none; */
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}

.tab{
    padding-left: 2.5em;
}

.error {
    color: var(--red-9);
}

.modal-contents::-webkit-scrollbar {
    width: 15px;
}

.modal-contents::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--gray-6);
}

.modal-contents::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-5);
}


/* Table */
.tableView{
	border: 1px solid black;

	border-collapse: separate;
	border-spacing: 0;
	min-width: max-content;
	background-color: var(--gray-0);
}

.tableView th{
	position: sticky;
	top: 0px;

	background-color: var(--ccp-maroon-1);
	color: var(--gray-0);
}

.tableView th:nth-child(1){
	/* background-color: var(--gray-0); */
	border: none;
}

.tableView td:nth-child(1), .tableView td:nth-child(2){
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.tableContainer{
	height: 80vh;
	overflow-y: scroll;
	/* border: 2px solid black; */
	margin: 15px;
	border-radius: 5px;
}

.tableView th, .tableView td {
	border: 1px solid black;
	padding: 10px;
}

.tableContainer::-webkit-scrollbar {
    width: 15px;
}

.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--gray-6);
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-5);
}

.tableContainer::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.edit {
	background-color: var(--blue-9);
	border: 2px solid white;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px 23px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

.edit:hover {
    background-color: white;
    color: var(--blue-9);
    border: 2px solid var(--blue-9);
}

.delete {
	background-color: var(--ccp-maroon-2);
	border: 2px solid white;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px 23px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

.delete:hover {
    background-color: white;
    color: var(--ccp-maroon-2);
    border: 2px solid var(--ccp-maroon-2);
}




.bg-modal-delete {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal-contents-delete {
	width: 80%;
	background-color: white;
	text-align: left;
	padding: 20px;
	position: relative;
	border-radius: 8px;
    max-height: 90%;
    overflow-y: auto;
	z-index: 11;
}